@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

#layout {
  max-width: 1000px;
  margin: auto;
}

h2 {
  text-align: center;
  padding: 20px;
}

#big {
  margin: auto;
  width: 250px;
}

#small {
  margin-top: 50px;
  display: flex;
  align-items: flex-end;
}
#small button {
  flex: 1;
  padding: 0 30px;
  border: none;
  background: none;
}
#small button:first-child {
  padding-bottom: 45px;
}
#small button img {
  width: 100px;
}
